.container {
  width: 1440px;
  padding: 150px 128px;
}
.search-form {
  display: flex;
  width: 859px;
}
.search-form__label {
  font-size: 14px;
  line-height: 1.29;
  color: #8a8a89;
  cursor: pointer;
}
.search-form__car-brand {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/* Try to add custome styles to marker of input */
/* #carBrands::-webkit-calendar-picker-indicator {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  opacity: 0;
} */
